/** 								{ margin: 0; padding: 0; }
body								{ font: 14px Helvetica, Sans-Serif; } 
#page-wrap							{ width: 800px; margin: 25px auto; } 
a									{ text-decoration: none; }
ul									{ list-style: none; }
p                                   { margin: 15px 0; }*/

/* 
	LEVEL ONE
*/
ul.dropdown                         { position: relative; z-index: 10; float:right; padding-right: 1em; }
ul.dropdown li                      { float: left; zoom: 1; padding: 4px 8px; }
ul.dropdown a:hover		            { color: #0d337d; }
ul.dropdown a:active                { color: #0d337d; }
ul.dropdown li a                    { display: block;}
ul.dropdown li:last-child a         { border-right: none; } /* Doesn't work in IE */
ul.dropdown li.hover,
ul.dropdown li:hover                { color: #bd0d24; position: relative; }
ul.dropdown li.hover a              { color: #bd0d24; }


/* 
	LEVEL TWO
*/
ul.dropdown ul 						{ width: 9em; visibility: hidden; position: absolute; top: 100%; left: 0; padding-top: 0.5em; }
ul.dropdown ul li 					{ float: none; background-color: #FFFFFF; color: #0d337d; }
									  
                                    /* IE 6 & 7 Needs Inline Block */
ul.dropdown ul li a					{ border-right: none; width: 100%; display: inline-block; text-decoration: none; color: #0d337d } 
ul.dropdown ul li a:hover			{ color:#0d337d; }

/* 
	LEVEL THREE
*/
ul.dropdown ul ul 					{ left: -140%; top: 0; width: 13em; padding-top:0px; }
ul.dropdown li:hover > ul 			{ visibility: visible; }
ul.dropdown ul ul li a:hover 		{color: #bd0d24; }