@import "../fonts/ostrich-sans.css";
/* 
 * Blue State Coffee Fonts 
 */
@font-face {
  font-family: entypo;
  src: url('../fonts/entypo/entypo.eot'), url('../fonts/entypo/entypo.svg'), url('../fonts/entypo/entypo.ttf'), url('../fonts/entypo/entypo.woff');
}
.entypo {
  font-family: 'entypo';
}
h1 {
  color: #bd0d24;
  font-weight: 400;
  padding-left: 1em;
  font-variant: small-caps;
}
h2 {
  margin: 0px;
  padding: 0.5em;
  font-weight: 300;
}
a {
  color: #0d337d;
  text-decoration: none;
}
a:hover {
  color: #637db5;
}
