@import "../fonts/ostrich-sans.css";
/* Blue State Coffee Stylesheet */
/* 
 * Blue State Coffee Fonts 
 */
@font-face {
  font-family: entypo;
  src: url('../fonts/entypo/entypo.eot'), url('../fonts/entypo/entypo.svg'), url('../fonts/entypo/entypo.ttf'), url('../fonts/entypo/entypo.woff');
}
.entypo {
  font-family: 'entypo';
}
h1 {
  color: #bd0d24;
  font-weight: 400;
  padding-left: 1em;
  font-variant: small-caps;
}
h2 {
  margin: 0px;
  padding: 0.5em;
  font-weight: 300;
}
a {
  color: #0d337d;
  text-decoration: none;
}
a:hover {
  color: #637db5;
}
/* Color Constants */
body {
  border: 15px solid #FFFFFF;
  background: #f3f0ee;
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', Verdana, Helvetica, Arial;
  font-weight: 300;
}
body #container,
body #footer-inner,
body .slider {
  max-width: 1024px;
  margin: 0px auto 0px auto;
}
/* HEADER STYLES */
#header .logo {
  padding: 5em 2em 3em 2em;
}
#header #slider .bjqs-controls {
  width: 100%;
  font-family: 'entypo';
}
#header #slider .bjqs-controls a {
  font-size: 7em;
  text-decoration: none;
  color: #637db5;
}
#header #slider .bjqs-controls a:hover {
  color: #f3f0ee;
}
#header #slider ol.bjqs-markers li a {
  font-size: 4em;
  text-decoration: none;
  line-height: 0.5em;
  color: #637db5;
}
#header #slider ol.bjqs-markers li a:hover {
  color: #0d337d;
}
/* MENU STYLES */
.menu ul {
  padding-left: 0px;
  list-style: none;
}
.menu ul li {
  padding: 0 1em;
}
.menu ul ul li {
  padding: 0.4em 0.8em;
}
.cafes {
  padding: 2em 0;
}
.cafes ul li {
  display: block;
  color: #0d337d;
  border-bottom: 5px solid #FFFFFF;
}
.cafes ul li:last-of-kind {
  border-bottom: none;
}
.cafes ul li h2 {
  font-size: 0.84em;
  cursor: pointer;
}
.cafes ul li .entypo {
  font-size: 3em;
  margin-top: -1em;
  text-align: right;
}
.cafes ul li .entypo a {
  text-decoration: none;
  color: #637db5;
}
.cafes ul li .entypo a:hover {
  color: #0d337d;
}
.cafes ul li .cafe-info {
  width: 100%;
  float: none;
}
.cafes ul li .cafe-info h2 {
  width: 5em;
  border-right: 5px solid #FFFFFF;
  display: inline-block;
  height: 2em;
  line-height: 2em;
  text-align: center;
}
.cafes ul li .cafe-info p {
  width: auto;
  display: inline-block;
  padding: 1em;
  line-height: 2em;
  margin: 0;
}
.navigation {
  color: #0d337d;
  width: 100%;
  font-size: 1.5em;
}
.navigation a {
  color: #0d337d;
  text-decoration: none;
}
.ss-icon {
  float: right;
  margin-top: -75px;
}
.ss-icon ul li {
  display: inline;
  padding: 0px;
}
/* FOOTER STYLES */
#footer {
  background-color: #0d337d;
  padding: 1em;
  color: #ffffff;
}
#footer .ss-icon {
  font-size: 2em;
}
#footer .ss-icon li {
  padding-left: 5px;
}
#footer .ss-icon li a {
  text-decoration: none;
  color: #FFFFFF;
}
#footer .ss-icon li a:hover {
  color: #bd0d24;
}
/************* CAFE PAGE STYLES ***************/
.cafe .cafe-head .photo {
  width: 100%;
  height: 250px;
  overflow: hidden;
  position: relative;
}
.cafe .cafe-head .photo h1 {
  position: absolute;
  text-align: center;
  z-index: 1;
  width: 100%;
  margin: 0;
  padding: 0;
  line-height: 250px;
  text-transform: uppercase;
  font-size: 7em;
  color: #FFFFFF;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0);
}
.cafe .cafe-head .photo h1.commonwealth {
  font-size: 4.75em;
}
.cafe .cafe-head .photo h1.brown,
.cafe .cafe-head .photo h1.congress {
  font-size: 6em;
}
.cafe .cafe-head .photo img {
  position: absolute;
  width: 100%;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
}
.cafe .cafe-head .cafe-info {
  padding: 2em;
}
.cafe .cafe-head .cafe-info h1 {
  padding-left: 0px;
}
.cafe .cafe-info-inner,
.cafe .events-inner {
  padding: 2em;
  text-align: center;
}
.cafe #main {
  clear: both;
}
.cafe .events {
  clear: both;
  padding: 2em;
}
.cafe .events h1 {
  padding-left: 0px;
}
.cafe .events ul {
  list-style: none;
  padding: 0px;
}
.cafe .events ul li {
  clear: both;
}
.cafe .events ul li .date {
  float: left;
}
.cafe .events ul li .month {
  width: 5em;
  background: #bd0d24;
  color: #FFFFFF;
  padding: 0.25em;
  text-align: center;
}
.cafe .events ul li .day {
  width: 5em;
  background: #FFFFFF;
  padding: 0.25em;
  text-align: center;
  margin-bottom: 2em;
}
.cafe .events ul li .event-info {
  float: left;
  margin-left: 2em;
}
/************ HOME PAGE STYLES ****************/
/************* MEDIA QUERIES ********************/
@media screen and (min-width: 350px) {
  .cafes ul li h2 {
    font-size: 0.9em;
  }
}
@media screen and (min-width: 400px) {
  .cafes ul li h2 {
    font-size: 1.1em;
  }
}
@media screen and (min-width: 450px) {
  .cafes ul li h2 {
    font-size: 1.3em;
  }
}
@media screen and (min-width: 500px) {
  .cafes ul li h2 {
    font-size: 1.5em;
  }
}
@media screen and (min-width: 900px) {
  .navigation {
    font-size: 1em;
  }
  /******** CAFE PAGE **********/
  .cafe .cafe-head .photo {
    width: 100%;
    height: 250px;
    float: left;
    overflow: hidden;
  }
  .cafe .cafe-head .photo img {
    height: auto;
    width: 100%;
  }
  .cafe .cafe-head .cafe-info {
    float: left;
    margin-left: 2em;
  }
  .cafe .cafe-info-inner,
  .cafe .events-inner {
    text-align: left;
  }
  .cafe-info,
  .cafe .events {
    clear: none;
    float: left;
    width: 50%;
    padding: 0;
  }
}
